body {
    margin: 0;
    background-color: #F4F1F8;
    padding: 0;
}
.shop {
    display: flex;
    flex-direction: column;
    width: 66%;
    margin: auto;
    padding-right: 0;
    /* margin-top: 10px; */
}
thead, tbody, tfoot {
    border: 1px solid #fff;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: .1em;
    padding: 10px 0 10px 0;
}
thead th{
    margin: 10px;
    width: 200px;
}
img {
    border-radius: 4px;
}
button {
    border-radius: 4px;
    text-align: center;
    border: none;
    cursor: pointer;
}
.shop tbody {
    text-align: center;
    margin-top: 10px;
}
tbody td {
    width: 200px;
}
.image {
    width: 80px;
    height: 80px;
}
h1 {
    text-align: center;
}
#back i {
    font-size: 1.8em;
}
#back {
    display: flex;
    align-items: center;
    font-weight: 700;
}
#back:hover {
    background-color: #ddd;
}
@media screen and (max-width: 768px) {
    .shop {
        width: 97% !important;
    }
}